.mid {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.word_box {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.word_title h1 {
    display: none;
}
.word_tip {
    display: none;
}
.word_footer {
    width: 100%;
}

.word_footer_scb {
    display: none;
}

p.upld {
    display: none;
}

.study_card_tip {
    display: none;
}

.change-pic.cl {
    padding: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 400px;
}

.mid {
    height: auto;
    padding-bottom: 20px;
}
.change-pic-left,
.change-pic-left2 {
    margin: 0;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 100px;
}

.change-pic-right {
    position: absolute;
    right: 0px;
    top: 100px;
}

.change-pic-mid.fl {
    height: 350px;
    margin-top: -41px;
    padding: 0;
    width: 100%;
}

.change-pic-mid-box {
    height: 400px;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
}